*{
  margin: 0;
  padding: 0;
}



/*--- ---------------------------------------------Nav-bar--------------------------------- ---*/
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Domine', serif;
  position: static;
  
}
.nav{
  position:sticky;
}
.nav span{
  color:rgb(18, 31, 31);
  font-weight: 600;
}
.nav h2{
  margin-left:8px;
  margin-top: 16px;
  font-size: 30px;
  
  /*--- ---------------------------------------font-family: 'Hover'/hamburger------------------------------ ---*/
  
}
.navbar a{
  margin:10px 25px;
  text-decoration: none;
  color: rgb(33, 39, 39);
  font-size: larger;
}
.navbar a:hover{
  color: rgb(98, 122, 122);
 transition-duration: 5ms;
  background-color: white;

}


.hamburger{
  display: none;
  cursor: pointer;

}
.bar{
  display: block;
  width:25px;
  height:3px;
  margin:5px auto;
  -webkit-transition:all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(10, 10, 10);
}



/*--- -------------------------------------------Home-------------------------------------- ---*/
.home{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*--- ------------------------background-image: linear-gradient(to left,#42275a, #734b6d)-------- ---*/
  min-width: 50px;
 max-height: 100vh;
 min-height: 58vh;
  
}
.home::before{
    content: '';
    background: url(download.jpg) no-repeat center center/cover;
    position: absolute;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
   
} 

.home h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 50%;
    color: rgb(27 79 74);
    font-family: 'Dancing Script', cursive;
}
.home h2{
    font-size: 2rem;
    margin-right:60%;
    margin-top: 10px;
    color: rgb(45, 80, 76);
}
.bt{
  color:aliceblue;
  margin-top: 10px;
  margin-right: 60%;
  background-color: rgb(29, 51, 44);
  padding: 10px 20px;
  text-decoration:none ;
  border-radius: 35px;
  font-size: 1rem;
}
.bt:hover{
  background: rgb(75, 73, 75) ;
}


/*--- ----------------------------------------------About----------------------------------------- ---*/

.about{
  margin-top: 14%;
  padding: 90px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  grid-gap:20px 30px; 
}
.about .image img{
  min-height: 50px;
  max-height: 400px;
  width: 25vw;
  margin-left: 4rem;
  border-radius: 5px;
}
.content{
  display: flex;
  flex-wrap: wrap;
}

.content h1{
  font-size: 4rem;
  color: rgb(19, 20, 20);
   margin-bottom: 10px;
   margin-top: 0;
   font-family: 'Roboto Slab', serif;

}
.content p{
  color: rgb(75, 104, 104);
}


.skills .title3
{
  color: rgb(2, 34, 46);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 28px;
  margin-top: 10px;

}
.label 
{
  display: flex;
  flex-direction: row;

}
.skills label
{
  color: rgb(14, 14, 54);
  float: left;
  font-weight: 600;
  margin-bottom: 8px;
  margin-right: 8px;
}
.skills .percentage
{
  position: relative;
  width: 100%;
  height: 10px;
  background: rgb(7, 29, 57);
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  border:rgb(12, 29, 69) ;
}
.skills .percentage div
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(148, 219, 206);
}


/*--- ----------------------------------------Services------------------------------------------- ---*/
#services{
  padding: 30px 35px;
  margin-top: 20px;
 
}
.sub-title{
  font-size: 3.5rem;
  color: rgb(37, 39, 39);
  min-width:20px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
.services-list{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  grid-gap: 85px;
  margin-top: 50px;
  height: 15rem;
}
.services-list div{
  background: rgb(3, 63, 53);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
  color: azure;
  margin-left: 3rem;
}
.services-list div p{
  color:rgb(157, 197, 197);
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: rgb(198, 235, 235);
}

.services-list div:hover{
  background: rgb(80, 139, 125);
  transform: translateY(-10px);

}


/*--- -----------------------------------------------projects------------------------------------------ ---*/

#project{
  padding:50px 0;
  margin-top: 50px;
  
} 
.sub-title{
  margin-left: 30px;
}
.work-list{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
  grid-gap:40px;
  margin-top: 10px;
  padding:20px;
} 
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 90%;
  height: 260px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0, 0.6),rgb(52, 107, 102));
  border-radius: 10px;
 position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
  color: aliceblue;
}
.layer p{
  width:200px;
  color: rgb(1, 226, 189);
}
.layer a{
  margin-top: 20px;
  color:rgb(209, 207, 211);
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  width:60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  background: rgb(5, 54, 48);
  padding: 6px 50px;
  border-radius: 40px;
  text-decoration: none;
  color: aliceblue;
 
}
.btn:hover{
  background: rgb(1, 226, 189);

}
/*--- ---------------------------------------------Contact------------------------ ---*/